/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(232, 255, 232);  
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    margin: 20 px;
    clear: both;
}


header {
    color: rgba(9, 211, 36, 0.685);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear:both;
}


/* specifieke stijlen */

img.afbeeldingenlinks {
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 300px;
}
img.afbeeldingenrechts{
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 300px;
}

img.blazoen{
    width: 250px;
    margin-right: 225px;
    margin-left: 225px;
}
img.lasvegasshoot {
    width: 700px;
    float: center;
}

img.overmij{
    width: 200px;
    float: center;
    margin-right: 250px;
    margin-left: 250px;
}
.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(9, 211, 36, 0.685);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color:rgba(9, 211, 36, 0.685);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rbg(185, 255, 185);
}

nav li a.active {
    background-color: rgb(185, 255, 185);
}




